@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Roboto Mono", serif;
  font-weight: 500;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.container {
  font-size: 1.7rem;
  border: 1px solid #282727;
  border-radius: 1.2rem;
  font-size: 2.5rem;
  padding: 2rem 3rem;
  box-shadow: 0.1rem 0.1rem 1rem 0.1rem black; }
  .container h2 {
    text-align: center;
    margin-bottom: 2rem;
    border-bottom: 1px solid #282727; }
  .container .form-control {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 2rem; }
    .container .form-control input {
      font-size: 2rem;
      border: 1px solid #282727;
      border-radius: 0.5rem;
      text-align: center;
      padding: 0.5rem; }
    .container .form-control small {
      color: red;
      visibility: hidden;
      margin-top: -1rem;
      margin-bottom: 1rem; }
  .container .form-control input:focus {
    outline: 0;
    border-color: #777; }
  .container .form-control.success input {
    border-color: green; }
  .container .form-control.error input {
    border-color: red; }
  .container .form-control.error small {
    visibility: visible; }
  .container .btn {
    padding: 1.2rem 2rem;
    font-size: 1.8rem;
    width: 100%;
    border: 1px solid #282727;
    border-radius: 1.2rem;
    background: #240000;
    background: linear-gradient(100deg, rgba(36, 0, 0, 0) 0%, grey 100%); }
  .container .btn:hover,
  .container .btn:active {
    scale: 1.05;
    background: #240000;
    background: linear-gradient(-100deg, rgba(36, 0, 0, 0) 0%, grey 100%); }
